@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Mulish&display=swap");

body html * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: #f5f5f5;
}

label {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #54595e;
}

* {
  font-family: "Inter";
  border: none;
}

h1 {
  text-align: center;
  position: relative;
  top: 80px;
  margin: 0;
  font-weight: bold;
  font-size: 58px;
  line-height: 70px;
  color: #000000;
}

span {
  color: red;
}

.task {
  max-width: 500px;
}

.div_flex {
  display: flex;
  justify-content: space-between;
}

.header {
  padding: 24px;
  border-bottom: 1px solid #dee2e6;
}

.main {
  overflow-wrap: break-word;
  padding: 24px;
}

.footer {
  padding: 18px 24px;
  background-color: #f5f5f5;
}

.inpt {
  background: #ffffff;
  border: 1px solid #ced4da;
  width: 356px;
  height: 38px;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 24px;
}
/* 
.btn {
  height: 39px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
} */

.add {
  width: 166px;
  background: #272829;
}

.del_check {
  width: 214px;
  background: #6c757d;
}

.del_all {
  width: 131px;
  background: #dc3545;
}

.li {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}

input:checked + label {
  text-decoration: line-through;
}

.list {
  margin: 0;
  padding: 0;
}

.x:hover {
  cursor: pointer;
}

.inputvisiblenone {
  display: none;
}

.inputvisible {
  display: block;
}

